*{
    font-family: Garamond, serif;
}
.cTap4{
    height: 300px;
    width: 470px;
}
.cTap4MD{
width: 290px;
height: 500px;
}
.cTap4LG{
    width: 380px;
    height: 340px;
    }
    .cTap4XL{
        width: 450px;
        height: 300px;
        border: solid Red;
    }
    .homeText{
        font-family: Garamond, serif;
    }
  
.pictures{
    padding: 10px;
}
